.heading-container{
    background-color: black;
    color: white;
    padding: 20px;


}
.name{
    font-size: 30px;
}
.header-option{
    float: right;
    margin-top: 10px;
    color: white;
    
}
.header-option2{
margin: 10px;
}
.image{
    margin: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}
.image-name{
    font-size: 50px;
    margin-left: 30px;

}
.univercity{
    margin-left: 70px;
    color: #1285d9;
    margin-bottom: 10px;
    margin-top: 10px;
}


.fa{
    padding: 13px;
    font-size: 40px;
    width: 55px;
    text-align: center;
    text-decoration: none;
    background-color: black;
    color: white;
}
.fa:hover{
    opacity: 0.7;
}
.fa-facebook{
    background-color: black;
    color: white;
}


.profile{
    display: inline;
    margin-left: 60px;
   
}
.description{
    float: right;
    display: inline;
   margin-left: 80px;
    margin-top: 76px;
}
.cv{
    text-align: center;
    width: 120px;
    height: 40px;
    margin-top: 170px;
    margin-left: 140px;
    background-color: wheat;
    border-radius: 40%;
    font-size:15px;
}
.con{
    text-align: center;
    width: 120px;
    height: 40px;
    margin-top: 170px;
    margin-left: 30px;
    background-color: wheat;
    border-radius: 40%;
    font-size:15px;
}
.bio{
    font-size: 20px;
}
.intro{
    margin-right: 45px;
    line-height: 0.5cm;
    text-indent: 2em;
    line-height: 6mm;
    font-size: 19px;
    font-family: cursive;
}
.parent{
    display: flex;
  
}
.graduation{
   margin-right: 120px;
   line-height: 40px;
}
.myintro{
    background-color:white;
    display: flex;
    flex-direction: row;
}
.skill{
    padding-left: 200px;
    margin-bottom: 10px;
   
}
.myskill{
    padding-left: 250px;
   
    float: right;
    margin-right: -251px;
}
.hundred{
    width: 10cm;
    height: 2px;
    background-color: rgb(80, 21, 190);
    margin-bottom: 10px;
    padding-left: 20px;
}
.ninty{
    width: 9cm;
    height: 2px;
    background-color: rgb(80, 21, 190);
    margin-bottom: 10px;
    padding-left: 20px;

}
.eighty{
    width: 8cm;
    height: 2px;
    background-color: rgb(80, 21, 190);
    margin-bottom: 10px;
    padding-left: 20px;

}
.seventy{
    width: 8cm;
    height: 2px;
    background-color: rgb(80, 21, 190);
    margin-bottom: 10px;
    padding-left: 20px;

}
.project{
    margin-left: 200px;
}
.projects{
    margin-left: 20px;
}
.contactform{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    width: 380px;
    height:380px;
    line-height: 46px;
    margin-left: 500px;
    margin-top: 50px;
    background-color: white;
    border-radius: 30px;
    box-sizing: border-box;
    border-color: black;
    border-style: dotted;
    justify-content: center;
   text-align: center;
    overflow: hidden;
}
@media(max-width:500px){
    
   .name{
    font-size: 19px;
   }
    .parent{
        display: flex;
        flex-direction: column;
    }
    .header-option{
        margin: -1px;
        }
    .profile{
        width: 350px;
        height: 291px;
    }
    .image{
        margin: 6px;
        height: 222px;
        width: 222px;
        border-radius: 70%;
    }
    .image-name{
        font-size: 32px;
        margin-left: 22px;
    }
    .univercity{
        margin-left: 24px;
     margin-bottom: 5px;
        margin-top: 4px;
    }
    .icon{
        margin-left: -24px;
    }
    .fa{
        padding: 5px;
        margin-left: 11px;
        font-size: 40px;
        width: 48px;
       
    }
    .description{
    width: 344px;
    margin-top: 31px;
    margin-left: 39px;
    height: 45px;
    }
    .about-me{
        font-size: 20px;
    }
    .intro{
        margin-left: -1px;
        width: 309px;
        height: 83px;
    }
    .cv{
        width: 88px;
        height: 26px;
        margin-top: 156px;
        margin-left: 36px;
        font-size: 10px;
    }
    .con{
        width: 88px;
        height: 26px;
        margin-top: 156px;
       font-size: 10px;
    }
    .myintro{
        display: flex;
        flex-direction: column;
    }
    .projects{
        margin-left: 20px;
        font-size: 14px;
    }
    .skill{
        margin-left: -37px;
        margin-top: -8px;
    }
   .html{
    font-size: 10px;
   }
    .myskill{
        padding-left: 29px;
         height: 71px;
        margin-right: -267px;
    }
    .graduation{
        width: 442px;
        font-size: 13px;
    }
    .contactform{
        width: 325px;
    height: 296px;
    line-height: 41px;
    margin-left: 43px;
    }
   
  }

